body {
  background-color: dodgerblue;
  text-align: center;
  background-image: url("dice1.jpg");
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
#container {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 200;
  background: transparent;
  height: 100vh;
  margin: 0;
}
button {
  font-size: 1.5rem;
  padding: 10px 10px;
  border-radius: 10px;
  border: none;
  background-color: dodgerblue;
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin: 2px;
}
button:hover {
  background-color: rgba(0, 128, 255, 0.774);
}
button:active {
  background-color: rgba(21, 137, 253, 0.842);
}
input {
  font-size: 2rem;
  width: 150px;
  text-align: center;
  font-weight: bold;
  border-radius: 10px;
  padding: 5px 5px;
  margin: 2px;
  border: none;
}
#diceResult {
  margin: 25px;
}
#diceImages img {
  width: 100px;
  margin: 5px;
}

h1,
label,
#diceResult {
  color: white;
  font-size: 2rem;
}
